body {
    background-color: #601700;
}

#wrapper {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #00A676;
}

.container {
    display: inline-block;
    cursor: pointer;
}

#pg2 {
    margin-top: 17%;
    background-color: #00A676;
    border: 1px solid #00A676;
    width: 100%;
    height: 800px;
}

#pg3 {
    background-color: #E0D0C1;
    border: 1px solid #E0D0C1;
    width: 100%;
    height: 800px;
}

#pg4 {
    background-color: #601700;
    border: 1px solid #601700;
    width: 100%;
    height: 800px;
}

.grntext {
    text-align: center;
    margin-bottom: 1%;
    padding-left: 3em;
}

#info {
    margin-left: 5%;
    margin-top: 0;
}

#core {
    margin-left: 3%;
}

#infobox {
    color: #00A676;
    text-align: center;
    border: 1px solid #00A676;
    width: 20%;
    height: 400%;
    font-size: 2em;
    margin-top: 1%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 7px;
    background-color: #00A676;
    margin: 6px 0;
    transition: 0.4s;
    border: 2px solid #E0D0C1;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.chage .bar3 {
    -webkit-transform: rotate(-45deg) translate(-8px, -8px);
    transform: rotate(-45deg) translate(-8px, -8px);
}

/* First page img's */

#ph {
    display: block;
    width: 20%;
    height: 20%;
    margin: auto;
}

div.summary {
    display: inline-block;
    margin-top: 3%;
}

.imgsum {
    width: 10%;
    height: 10%;
    margin-left: 12%;
}

.wrapbar {
    position: fixed;
}

.media {
    float: right;
    margin-right: 5px;
    color: #00A676;
}

.ck {
    list-style-type: none;
    margin: 10%;
    width: 70%;
}

.ck li {
    padding-top: 5%;
    font-size: 4em;
}

#pg3 {
    position: relative;
}

#pjt {
    position: relative;
    top: 15%;
    left: 30%;
}

h3 {
    position: absolute;
}

#pj1 {
    top: 25%;
    left: 35%;
}

#pj2 {
    top: 25%;
    left: 57%;
}

#pj3 {
    top: 60%;
    left: 35%;
}

